{% if not query_content %}
{% else %}
    <div>
        <h3>
            The result of query {{ query_content }} is:
        </h3>
        <br>
        <table>
            {% for value in query_result %}
                <tr>
                   <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
