<div class="error">
    <h3>
        Error: Invalid syntax.
    </h3>
    <br>
    Supported syntax is:
    <br>
    <em>
        /query?{{ database_param }}=database_name&{{ expr_param }}=expression&fmt=({{ fmt_plain }}|{{ fmt_table }})
    </em>
    <br>
    Please also make sure your query expression {{ query_content }} is correct.
    The query expression can contain spaces, but it cannot contain single or
    double quotes.
</div>

